*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.toggle-main{
    width: 450px;
    display: flex;
    justify-content: end;
    padding: 10px;
    padding-right: 20px;
    margin: auto;
}
.toggle{
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: black;
}
.game{
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px auto;
    gap: 5px;
}
.game h1{
    font-size: 55px;
    margin-bottom: 20px;
    border-bottom: 2px solid gray;
}
.game-btn{
    width: 400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    gap: 5px;
    padding: 3px;
}
.game-btn button{
    height: 120px;
    color: white;
    background-color: rgba(143, 143, 143, 0.37);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 600;
    cursor: pointer;
}
.all-counters-output{
    display: flex;
    gap: 40px;
}
.countX-output{
    color: red;
}
.countO-output{
    color: green;
}
.reset-btn-parent{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    margin: auto;
}
.reset-btn{
    width: 180px;
    height: 60px;
    font-size: 32px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.reset-btn:hover{
    background-color: rgb(223, 2, 2);
}
.result{
    font-size: 30px;
    padding: 5px 8px;
    color: white;
}
